body {
  background-image: url("../img/main-bg.jpg");
  width: 100%;
  padding-top: 130px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
  
.form-signin .form-signin-heading{
  text-align: center;
}
.form-signin .form-signin-heading img{
  width: 225px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
  width: 100%;
}
.form-signin .btn-primary{
  background-color: #0073a4;
  border-color: #0073a4;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
}
.form-signin .btn-primary:hover{
  background-color: #045683;
  border-color: #045683;
}

.form-signin .form-error{
  text-align: center;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  color: rgb(176, 1, 1);
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
