body{
	background-color: #222222;	
}
.header{
	background-color: #222222;	
	color: white;
	font-weight: bold;
	text-align: right;
	height: 15px;
	margin-right: 15px;
	font-size: 11px;
	padding-top: 6px;
}
.header span:before{
	font-weight: normal;
	content: '\f007';
	font-size: 14px;
	font-family: 'FontAwesome';
	margin-right: 7px;
}
.dashboard{
	float: left;
	width: 18%;
	text-align: center;
	position: fixed;
}
.dashboard .presentation{
	margin-top: 50px;
}
.dashboard .presentation img{
	width: 100px;
}
ul.sidemenu{
	list-style: none;
	text-align: left;
	margin-top: 20px;
	padding-left: 0;
}
ul.sidemenu li{
	height: 35px;
	padding-left: 40px;
	margin-bottom: 2px;
}
ul.sidemenu li a{
	color: #fdfdfd;
	font-weight: bold;
	display: block;
	text-decoration: none;
	padding: 7px 0;
	width: 94%;
	float: left;
}
ul.sidemenu li:hover, li.active{
	background-color: #0073a4;
	text-shadow: 1px 1px 5px #BDBDBD;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
ul.sidemenu li:hover span.arrow, li.active span.arrow{
	visibility:visible;
}

span.arrow{
	margin-top: 5px;
	float: left;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	border-right: 13px solid #eeeeee;
	visibility:hidden;
}

ul.sidemenu li a i{
	font-family: 'FontAwesome';	
	font-weight: normal;
	width: 12%;
}
ul.sidemenu li a.monitoramento:before{
	content: '\f1fe';
}
ul.sidemenu li a.usuarios:before{
	content: '\f0c0';
}
ul.sidemenu li a.configuracoes:before{
	content: '\f085';
}
ul.sidemenu li a.sobre:before{
	content: '\f05a';
}
ul.sidemenu li a.sair:before{
	content: '\f00d';
}
.content{
	padding: 30px 30px 0 30px;
	background-color: #eeeeee;
	float: right;
	width: 82%;
	margin-top: 20px;
	min-height: 600px;
	-webkit-box-shadow: 0 0px 2px #e5e5e5;
	-moz-box-shadow: 0 0px 2px #e5e5e5;
	box-shadow: 0 0px 2px #e5e5e5;
}
.content h2{
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

div.box{
	border: 1px solid #E5E5E5;
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
div.box .bheader{
	background-color: #fcfcfc;
	display: inline-block;
	float: left;
	width: 100%;
	padding: 10px;
	color:#746e65;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	border-bottom: 1px solid #e5e5e5;
}
div.box .bheader .block{
	width: 30%;
	float: left;
	margin-right: 20px;
}
div.box .bheader .block:last-child .form-group label{
	width: 40%;
}
div.box .bheader .block:last-child .form-group select{
	width: 60%;
}
div.box .bheader .block .form-group{
	display: flex;
}
div.box .bheader .block > span{
	padding: 5px 0;
	display: block;
	border-bottom: 1px dashed gray;
	margin-bottom: 10px;
}
div.box .bheader .block .form-group label{
	width: 25%;
	float: left;
	margin-bottom: 10px;
}
div.box .bheader .block .form-group input{
	width: 60%;
	float: left;
}
div.box .bheader span.ip{
	color: rgb(174, 171, 171);
}
div.box .bheader span.icones{
	float: right;
	margin-right: 65px;
}
div.box .bheader span.icones .icon{
	padding-left: 5px;
}
div.box .bcontent{
	padding: 12px 8.5%;
}
div.box .bcontent, div.box .bfooter{
	background-color: #ffffff;
	display: inline-block;
	float: left;
	width: 100%;
}
div.box .bcontent .chartContainer{
	height: 300px; 
	margin: 10px 0;
	z-index: 500;
}
div.box .bcontent .chartContainer .canvasjs-chart-container{
	margin-left: 25px;
}
div.box .bcontent .labels{
	height: 300px;
	z-index: 1;
	position: absolute;
	width: 868px;
}
div.box .bcontent .labels .latencia{
	color: #bbbbbb;
	float: left;
	position: absolute;
	width: 300px;
	text-align: center;
	padding-bottom: 280px;
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	z-index: 1;
}
div.box .bcontent .labels .tempo{
	color: #bbbbbb;
	position: absolute;
	padding-top: 295px;
	z-index: 1;
	width: 100%;
	text-align: center;
}
div.box .bfooter div{
	margin:0 10px;
	padding: 10px;
	border-top: 1px solid #e5e5e5;
}
hr.canvas{
	margin-top: 5px;
	margin-bottom:5px;
	border-top: 1px solid #B0AEAE;
}
label.bold{
	font-weight: bold;
}
.selectBootstrap{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}