.exportar form div{
	text-align: center;
}
.last-col{
	text-align: center;
}
.glyphicon-trash:hover{
	color:#9D0101!important;
}
.modal-body {
	padding: 15px 50px !important;
	text-align: left !important;
}
.col-md-12{
	padding: 0!important;
}
tr {
	width: 100%;
	display: inline-table;
}
.tablel{
	height:230px;              
}
tbody{
	overflow-y: scroll;      
	height: 200px;
	width: 100%;
	position: absolute;
}
tfoot td{
	text-align: right;
}
.tusername{
	width: 35%;
}
.trealname{
	width: 45%
}
.taction{
	width: 20%;
}
.taction-l,.taction-r{
	width: 10%;
}
.new-user{
	text-align: right;
	position: relative;
	margin-top: 165px;
}